<div class="footer">
    <div class="footer-container">
        <div class="footer-logo-container">
            <img src="../assets/images/monochrome-logo.png" alt="" class="footer-logo">
        </div>
        <div class="footer-address-text">
            <div class="footer-address-text-line">
                P.O. BOX 7846 Ronald Ngala ST
            </div>
            <div class="footer-address-text-line">
                Mobile: +254 722 605 248
            </div>
            <div class="footer-address-text-line">
                Email: info.mocanespresso@gmail.com
            </div>
            <div class="footer-address-text-line">
                Location: Nairobi CBD Kenda House Tom Mboya St
            </div>
        </div>
        <div class="footer-tagline">
            <img src="../assets/images/footer-tagline.png" alt="" class="footer-logo">
        </div>
    </div>
</div>