<div>
    <div class="header-logo-container">
        <a href="../index.html"><img src="../assets/images/colored-logo.png" alt="" class="header-logo"></a>
    </div>

    <div class="header--position">
        <div class="d-inline-block">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto header-container" id="navbar-main-menu">
                        <li class="nav-item header-links">
                            <a class="nav-link nav-link-text" href="../index.html" id="home">HOME <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item header-links" onmouseover="displaySubMenu(event)">
                            <a class="nav-link nav-link-text" href="#" id="about" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                ABOUT
                            </a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link nav-link-text" href="../how-we-do-it.html">HOW WE DO IT</a>
                        </li>
                        <li class="nav-item header-links" onmouseover="displaySubMenu(event)">
                            <a class="nav-link nav-link-text" id="process">PROCESS</a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link nav-link-text" href="../why-us.html">WHY US</a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link nav-link-text" href="../contact.html">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="navbar-menu" data-menu="about" onmouseleave="hideSubMenu(event)">
            <div class="row pt-3 navbar-menu-sub-pages-container">
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/who-we-are.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Who We Are</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/mission-vision.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Our Mission & Vision</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/values.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Our Values</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/objectives.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Our Objectives</p>
                </div>
            </div>
            <div class="row pt-3 navbar-menu-sub-pages-container">
                <div class="col-md navbar-menu-sub-pages-image-container">
                    <a href="../subpages/services.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images navbar-menu-sub-pages-image-container--bottom-layer-padding" alt=""></a>
                    <p class="sub-menu-text navbar-menu-sub-pages-image-container--bottom-layer-margin">Our Services</p>
                </div>
            </div>
        </div>
        <div class="navbar-menu" data-menu="process" onmouseleave="hideSubMenu(event)">
            <div class="row pt-3 navbar-menu-sub-pages-container">
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/who-we-are.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Seed</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/mission-vision.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Tree</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/values.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Cherry</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container navbar-menu-sub-pages-image-container--top-layer-margin">
                    <a href="../subpages/objectives.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text">Harvest</p>
                </div>
            </div>
            <div class="row pt-3 navbar-menu-sub-pages-container">
                <div class="col-md navbar-menu-sub-pages-image-container">
                    <a href="../subpages/services.html"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text navbar-menu-sub-pages-image-container--bottom-layer-margin">Processes</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container">
                    <a href="../assets/images/coffee-mug-why-us.png"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text navbar-menu-sub-pages-image-container--bottom-layer-margin">Roast</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container">
                    <a href="../assets/images/coffee-mug-why-us.png"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text navbar-menu-sub-pages-image-container--bottom-layer-margin">Grind</p>
                </div>
                <div class="col-md navbar-menu-sub-pages-image-container">
                    <a href="../assets/images/coffee-mug-why-us.png"><img src="../assets/images/coffee-mug-why-us.png"
                            class="img-fluid navbar-menu-sub-pages-images" alt=""></a>
                    <p class="sub-menu-text navbar-menu-sub-pages-image-container--bottom-layer-margin">Brew</p>
                </div>
            </div>
        </div>
    </div>
</div>