<div>
    <div class="header-logo-container">
        <a href="../index.html"><img src="../assets/images/colored-logo.png" alt="" class="header-logo"></a>
    </div>

    <div class="header--position">
        <div class="d-inline-block">
            <nav class="navbar navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto header-container" id="navbar-main-menu">
                        <li class="nav-item header-links">
                            <a class="nav-link" href="../index.html" id="home">HOME <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item header-links" onmouseover="displaySubMenu(event)">
                            <a class="nav-link" href="#" id="about" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                ABOUT
                            </a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link" href="../how-we-do-it.html">HOW WE DO IT</a>
                        </li>
                        <li class="nav-item header-links" onmouseover="displaySubMenu(event)">
                            <a class="nav-link" href="../process.html" id="process">PROCESS</a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link" href="../why-us.html">WHY US</a>
                        </li>
                        <li class="nav-item header-links">
                            <a class="nav-link" href="../why-us.html">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="navbar-menu" data-menu="about" onmouseout="hideSubMenu(event)">
            <div class="row d-flex justify-content-center pt-3">
                <div class="col-sm-1 px-0 mx-1">
                    <a href="../subpages/who-we-are.html"><img src="../assets/images/coffee-mug-why-us.png" class="img-fluid"
                            alt=""></a>
                    <p class="sub-menu-text">Who We Are</p>
                </div>
                <div class="col-sm-1 px-0 mx-1">
                    <a href="../subpages/mission-vision.html"><img src="../assets/images/coffee-mug-why-us.png" class="img-fluid"
                            alt=""></a>
                    <p class="sub-menu-text">Our Mission & Vision</p>
                </div>
                <div class="col-sm-1 px-0 mx-1">
                    <a href="../subpages/values.html"><img src="../assets/images/coffee-mug-why-us.png" class="img-fluid" alt=""></a>
                    <p class="sub-menu-text">Our Values</p>
                </div>
                <div class="col-sm-1 px-0 mx-1">
                    <a href="../subpages/objectives.html"><img src="../assets/images/coffee-mug-why-us.png" class="img-fluid"
                            alt=""></a>
                    <p class="sub-menu-text">Our Objectives</p>
                </div>
                <div class="col-sm-1 px-0 mx-1">
                    <a href="../subpages/services.html"><img src="../assets/images/coffee-mug-why-us.png" class="img-fluid" alt=""></a>
                    <p class="sub-menu-text">Our Services</p>
                </div>
            </div>
        </div>
        <div class="navbar-menu" data-menu="process" onmouseout="hideSubMenu(event)">

        </div>
    </div>
</div>