/* GENERAL */
* {
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
}

/* FOOTER */
.footer {
	width: 100%;
}

.footer-bun--color {
	background-color: #2f2826;
}

.footer-top {
	height: 29vh;
}

.footer-middle {
	background-color: #262729;
	color: white;
	padding-left: 12%;
	padding-right: 12%;
}

.footer-bottom {
	color: white;
}

.footer-logo-container {
	width: auto;
	height: 24%;
	position: relative;
	right: 22.3%;
}

.footer-bottom-left-section {
	padding-left: 12.5%;
}

.footer-logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.footer-middle-heading {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
}

.footer-text-divider {
	border-bottom: white solid 2px;
    width: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-body {
	line-height: 1.75;
	color: #bebebe;
}

.footer-quick-links {
	list-style-type: none;
	padding-left: 0;
}

.footer-gallery-image {
	width: inherit;
	border-radius: 10px;
}



.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	background: linear-gradient(
		0deg,
		rgb(71 14 0 / 30%),
		rgb(221 167 128 / 30%)
	);
	background-size: cover;
}

.footer-address-text {
	color: white;
	text-align: center;
	font-size: 0.75rem;
}

.footer-tagline {
	width: auto;
	height: 17%;
	margin-top: 1.25rem;
}

.footer-image-container {
	width: auto;
	height: 400px;
}

.footer-image {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.footer-icon-container {
	margin-top: 4rem;
}

.fa {
	padding: 20px;
	font-size: 1rem;
	width: 8%;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	background-color: #161616 !important;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3b5998;
	color: white;
}

.fa-twitter {
	background: #55acee;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}

/* HEADER */
.header-logo-container {
	width: auto;
	height: 100px;
	margin-top: 3%;
}

.header-logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.header-subpages--font {
	font-size: 0.8rem;
}

.header--position {
	position: relative;
	bottom: 70px;
	margin-left: 20px;
}

/* BANNER */

.banner-container {
	width: auto;
	height: 40vh;
	margin-top: -45px;
}

.banner-image {
	width: 100%;
	height: 100%;
}

/* PAGES */

.content-container {
	margin: 5% 5%;
}

.content-heading {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	color: #8a676f;
	font-weight: 600;
}

.content {
	color: #3b292c;
}

/* MOBILE */

@media (min-width: 768px) {
	.header--position {
		text-align: center;
		position: relative;
		bottom: 0;
		left: 0;
	}
	.banner-container {
		height: 70vh;
		margin-top: 1rem;
	}
	.content-container {
		margin: 3% 15%;
	}
}
